 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
 /* Color Theme Swatches in Hex */
.color-theme_22-Theme-Draft-1-hex { color: #0D4C73; }
.color-theme_22-Theme-Draft-2-hex { color: #0D5673; }
.color-theme_22-Theme-Draft-3-hex { color: #1790BF; }
.color-theme_22-Theme-Draft-4-hex { color: #59C1D9; }
.color-theme_22-Theme-Draft-5-hex { color: #F2D399; }
*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
}
/* For Container, Text, & OUTPUT CSS */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100vh;
    align-items: center;
}
.counter{
    font-size: 8rem;
    /* 2-3 rem for mobile responsive  655px for tablet responsive -5rem*/
    color: #0D4C73;
}
.outputDisp{
    font-size: 7rem;
    margin-top: 12px; 
    margin-bottom: 12px;
    
    white-space: initial;
    color:#ffffff;
    outline: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(77, 72, 58);
}
button{
    margin-left: 12px;
    border: none;
    padding: 6px 12px;
    border:2px solid #0D4C73;
    background-color: #0D4C73;
    color: #fdfdfd;
    overflow-wrap: break-word;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.4s,color 0.4s;
}
.x2,.x3{
    margin-top: 12px;
}
button:hover{
    background-color: white;
    color: #0D4C73;
}
@media screen and (max-width: 650px) {
    .counter{
        font-size: 5rem;
    }
    .outputDisp{
        font-size: 7rem;
    }
    button{
        margin-left: 8px;
        padding: 4px 8px;
        font-size: 16px;
    }
  }
  @media screen and (max-width: 450px) {
    .counter{
        font-size: 3rem;
    }
    .outputDisp{
        font-size: 3rem;
    }
    button{
        margin-left: 8px;
        padding: 4px 6px;
        font-size: 12px;
    }
  }